@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

.form > .form-control:not(:first-child),
.form > .button,
.form-group > .form-control:not(:first-child),
.form-group > .button {
  @apply mt-4;
}

.form > .error {
  @apply mt-6;
}

div > .form-group:not(:last-child) {
  @apply mr-32;
}

.link {
  position: relative;
}

.link::before {
  content: '';

  width: 0%;
  height: 1px;

  @apply absolute top-full left-0 bg-gray-600;
}

.link:hover::before {
  width: 100%;

  transition: width 300ms ease-in-out;
}

.checkbox::before {
  content: '';

  @apply block absolute top-0 left-0 w-full h-full bg-black rounded-sm;
}
