/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap');

html,
body,
#__next {
  height: 100%;
}

.form,
.form .row {
  @apply gap-12;
}

.form .form-group {
  @apply gap-4;
}

.form > .error {
  @apply mt-6;
}

.row > .form-control {
  width: 45%;
}

div > .form-group:not(:last-child) {
  @apply mr-32;
}

.form-control label input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.form-control label input[type='number']::-webkit-inner-spin-button,
.form-control label input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.form-input {
  @apply flex border border-gray-500 rounded-sm w-full py-2 px-3 mt-2 outline-none transition-all duration-150;
}

.form-input--nb {
  @apply flex rounded-sm w-full py-2 px-3 mt-2 outline-none transition-all duration-150;
}

.form-input--np  {
  @apply flex border border-gray-500 rounded-sm w-full mt-2 outline-none transition-all duration-150;
}

.form-input--nm {
  @apply flex border border-gray-500 rounded-sm w-full py-2 px-3 outline-none transition-all duration-150;
}

.form-input--ns {
  @apply flex border border-gray-500 rounded-sm w-full outline-none transition-all duration-150;
}

.form-input:disabled,
.form-input--nb:disabled,
.form-input--np:disabled,
.form-input--nm:disabled,
.form-input--ns:disabled,
.form-input.readonly,
.form-input--nb.readonly,
.form-input--np.readonly,
.form-input--nm.readonly,
.form-input--ns.readonly,
.form-input.readonly > input,
.form-input--nb.readonly > input,
.form-input--np.readonly > input,
.form-input--nm.readonly > input,
.form-input--ns.readonly > input {
  @apply cursor-not-allowed;
}

.form-input:hover,
.form-input--nb:hover,
.form-input--np:hover,
.form-input--nm:hover,
.form-input--ns:hover {
  @apply border-blue-600;
}

.form-input:not(.readonly):focus,
.form-input--nb:not(.readonly):focus,
.form-input--np:not(.readonly):focus,
.form-input--nm:not(.readonly):focus,
.form-input--ns:not(.readonly):focus,
.form-input:not(.readonly):focus-within,
.form-input--nb:not(.readonly):focus-within,
.form-input--np:not(.readonly):focus-within,
.form-input--nm:not(.readonly):focus-within,
.form-input--ns:not(.readonly):focus-within,
.form-input.focus:not(.readonly),
.form-input--nb.focus:not(.readonly),
.form-input--np.focus:not(.readonly),
.form-input--nm.focus:not(.readonly),
.form-input--ns.focus:not(.readonly) {
  @apply outline-none border-blue-600 ring ring-blue-200;
}

.form-input.error,
.form-input--nb.error,
.form-input--np.error,
.form-input--nm.error,
.form-input--ns.error {
  @apply border-red-500;
}

.form-input.error:hover,
.form-input--nb.error:hover,
.form-input--np.error:hover,
.form-input--nm.error:hover,
.form-input--ns.error:hover,
.form-input:disabled:hover,
.form-input--nb:disabled:hover,
.form-input--np:disabled:hover,
.form-input--nm:disabled:hover,
.form-input--ns:disabled:hover {
  @apply border-red-800;
}

.form-input.error:focus,
.form-input--nb.error:focus,
.form-input--np.error:focus,
.form-input--nm.error:focus,
.form-input--ns.error:focus,
.form-input.error.focus,
.form-input--nb.error.focus,
.form-input--np.error.focus,
.form-input--nm.error.focus,
.form-input--ns.error.focus {
  @apply border-red-800 ring ring-red-200 !important;
}

.link {
  position: relative;
}

.link::before {
  content: '';

  width: 0%;
  height: 1px;

  @apply absolute top-full left-0 bg-gray-600;
}

.link:hover::before {
  width: 100%;

  transition: width 300ms ease-in-out;
}

.checkbox::before {
  content: '';

  @apply block absolute top-0 left-0 w-full h-full bg-black rounded-sm;
}
